<div class="clickable-card">
  <%= link_to user_skill_path(user_skill) do %>
    <li class="card">
      <div class="card-content">

        <!-- Bild links -->
        <div class="card-image">
          <% if user_skill.user.photo.attached? %>
            <%= cl_image_tag user_skill.user.photo.key, class: "rounded-image", alt: "user profile picture" %>
          <% else %>
            <%= image_tag "Profil_Button_standard.png", class: "rounded-image", alt: "Default user profile picture" %>
          <% end %>
        </div>

        <!-- Text rechts -->
        <div class="card-text">
          <h1 class="user_skill">
            <%= user_skill.user.name.present? ? user_skill.user.name.capitalize : user_skill.user.email.split("@").first.capitalize %>
          </h1>
          <h6><%= user_skill.user.city %></h6>
          <h4><%= user_skill.skill.name %></h4>
          <div><%= '⭐️' * user_skill.overall_rating if details%></div>
        </div>

      </div>

      <% if details %>
        <div>
          <% user_skill.user.user_skills.each do |skill| %>
            <%= skill.skill.name %><%= ", " unless skill == user_skill.user.user_skills.last %>
          <% end %>
        </div>
      <% end %>
    </li>
  <% end %>
</div>
