<%= render "shared/search" %>

<ul class="style">
  <div class="userskill container">
    <% if @query.present? %>
    <% @user_skills.each do |user_skill| %>
      <%= render "user_skill", user_skill: user_skill, details: true %>

    <% end %>
    <% else %>
    <p>Sorry! please enter something to search</p>
    <% end %>
  </div>
</ul>

<%# <div class="search">
  <%= form_tag "/user_skill", method: "GET" do %>
    <%# <%= label_tag %>
    <%# <%= text_field_tag :search, params[:search] %>
  <%# <% end %>
<%# </div>  %>
