<div class="user-profile">
  <!-- User Info Section -->
  <div class="userfrom">
    <h1><%= @user.name %> from <%= @user.city %></h1>
  </div>

  <!-- Profilfoto & Skills -->
  <div class="profile-container">
    <div class="profilpicture">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class: "review-image", alt: "#{@user.name} Profile Picture" %>
      <% else %>
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/NES-Console-Set.jpg/1200px-NES-Console-Set.jpg", class: "rounded-image" %>
      <% end %>
    </div>

    <!-- Skills Section -->
    <div class="skills">
      <p><strong><%= @user_skill.skill.name.upcase %></strong> - <%= @user_skill.experience %> - Rating: <%= @user_skill.overall_rating %>/5</p>
      <% @user_skills_sorted.each do |user_skill| %>
        <p><strong><%= user_skill.skill.name %></strong> - <%= user_skill.experience %> - Rating: <%= user_skill.overall_rating %>/5</p>
      <% end %>
    </div>
  </div>

  <!-- Chat Button -->
  <div class="chat-container">
    <%= link_to "Chat with #{@user.name}", user_skill_requests_path(@user.user_skills.first), data: { turbo_method: :post }, class: "btn btn-primary chat-button" %>
  </div>

  <!-- Summary -->
  <p><%= @user.summary %></p>

  <!-- User Reviews for This UserSkill -->
  <div class="reviews-section">
    <div class="reviews-container">
      <% if @reviews.any? %>
        <% @reviews.each do |review| %>
          <div class="review-card">
            <div class="review-content">
              <h4><%= review.title %></h4>
              <p><%= review.content %></p>
              <div class="review-rating"><strong>Rating:</strong> <span class="rating"><%= review.rating %>/5</span></div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No reviews available for this skill.</p>
      <% end %>
    </div>
  </div>
</div>
