<div class="user-profile">
  <!-- User Info Section -->
  <h1><%= @user.name %> from <%= @user.city %></h1>
  <p><%= @user.summary %></p>

  <!-- Skills Section -->
  <div class="skills-section">
    <h3>Skills</h3>
    <div class="skills">
      <strong><%= @user_skill.skill.name %></strong> - <%= @user_skill.experience %> - Rating: <%= @user_skill.overall_rating %>/5
      <% @user_skills_sorted.each do |user_skill| %>
        <div class="skill">
          <strong><%= user_skill.skill.name %></strong> - <%= user_skill.experience %> - Rating: <%= user_skill.overall_rating %>/5
        </div>
      <% end %>
    </div>
  </div>

  <!-- User Reviews for This UserSkill -->
  <div class="reviews-section">
    <h3>Reviews for <%= @user_skill.skill.name %></h3>
    <div class="reviews-container">
      <% if @reviews.any? %>
        <% @reviews.each do |review| %>
          <div class="review-card">
            <div class="review-content">
              <h4><%= review.title %></h4>
              <p><%= review.content %></p>
              <div class="review-rating">
                <strong>Rating:</strong> <span class="rating"><%= review.rating %>/5</span>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No reviews available for this skill.</p>
      <% end %>
    </div>
  </div>

  <%= link_to "Go to Chat", user_skill_requests_path(@user.user_skills.first), data:{turbo_method: :post}, class: "btn btn-primary" %>
</div>
