<div class="navbar navbar-expand-sm navbar-light navbar-default <%= "navbar-#{@role}" if @role %>">

    <%# Give Button always Home %>
    <div class="button-GIVE">
      <%= link_to root_path, class: "navbar-brand" do %>
      <% if @role == :taker %>
        <%= image_tag("T_weiß.png")%>
      <% elsif @role == :giver %>
        <%= image_tag("G_weiß.png")%>
        <% else %>
          <%= image_tag("GT_weiß.png")%>
       <% end %>
      <% end %>
    </div>

    <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <%= image_tag "Profil_Button_standard.png", class: "avatar" %>
    </a>

</div>

<div class="collapse navbar-dropdown-menu" id="collapseExample">
    <%= link_to "Your Profile", dashboard_path, class: "menu-item" %>
    <%= link_to "Your Request", requests_path, class: "menu-item" %>
    <%= link_to "Your Skills", root_path, class: "menu-item" %>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "menu-item" %>
</div>
