

<!-- Obere fixierte Navbar mit Button-GIVE -->
<div class="navbar navbar-expand-sm navbar-light navbar-default <%= "navbar-#{@role}" if @role %>">
  <div class="button-GIVE">
    <%= link_to root_path, class: "navbar-brand" do %>
      <% if @role == :taker %>
        <%= image_tag("TKoralle.png") %>
      <% elsif @role == :giver %>
        <%= image_tag("GKoralle.png") %>
      <% else %>
        <%= image_tag("TGkoralle.png") %>
      <% end %>
    <% end %>
  </div>

  <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
  </a>
</div>


<!-- Untere fixierte Navbar mit 4 Buttons -->
<div class="navbar-overlay"></div> <!-- Hintergrund abdunkeln -->
<%# <div class="navbar-bottom"> %>
<div class="navbar-bottom">
  <%= link_to root_path, class: "bottom-nav-item" do %>
    <%= image_tag "home.png", class: "nav-icon" %>
  <% end %>

   <div class="bottom-nav-item">
    <%= link_to search_path, class: "bottom-nav-item" do %>
    <%= image_tag "search.png", class: "nav-icon" %>
    <% end %>
  </div>

  <%= link_to requests_path, class: "bottom-nav-item" do %>
    <%= image_tag "chat.png", class: "nav-icon" %>
  <% end %>

  <%= link_to dashboard_path, class: "bottom-nav-item" do %>
    <%= image_tag "person.png", class: "nav-icon" %>
  <% end %>
</div>
</div>
