<div class="navbar navbar-expand-sm navbar-light navbar-default <%= "navbar-#{@role}" if @role %>">
  <div class="container-fluid">

    <%# Give Button always Home %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <% if @role == :taker %>
        <%= image_tag("T_weiß.png")%>
      <% elsif @role == :giver %>
        <%= image_tag("G_weiß.png")%>
      <% else %>
        <%= image_tag("GT_weiß.png")%>
      <% end %>
    <% end %>



    <a class="navbar-brand" href="#">
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

          <li class="nav-item dropdown">
            <%= image_tag "Profil_Button_standard.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown"}, aria: { haspopup:"true", expanded: "false" } %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Your Profile", dashboard_path, class: "dropdown-item" %>
                <%= link_to "Your Skills", root_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
          </li>

          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
