<div class=main.cointainer>

<div class=profilpicture margin-top: 20px;>
  <% if @user.photo.attached? %>
    <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
      <%= cl_image_tag @user.photo.key, class: "review-image", alt: "#{@user.name} Profile Picture" %>
    <% end %>

  <% else %>
    <%= image_tag "Profil_Button_standard.png", class: "rounded-image" %>
  <% end %>
</div>

    <h1 div>
        <%= @user.name %> from <%= @user.city %>
    </div>

    <div>
        <%= @user.password %>
    </div>

<div class="skills-container-profile">
  <% @user.skills.each do |skill| %>
    <div class="skill-box-profile"><%= skill.name %></div>
  <% end %>
</div>

    <div class="balancecredits">
        <h1><strong>Credit:</strong> <%= @user.balance %> <%= image_tag "yellowpink.png", class:"give-coin-profile"%> </h1>
    </div>
</div>
