<div class=main.cointainer>

<div style="text-align: center; margin-top: 20px;">
  <img  alt="Profile Picture"
       style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;">
</div>
    <h1 div>
        <%= @user.name %> from <%= @user.city %>
    </div>

    <div>
        <%= @user.password %>
    </div>

<div class="skills-container-profile">
  <% @user.skills.each do |skill| %>
    <div class="skill-box-profile"><%= skill.name %></div>
  <% end %>
</div>

    <div>
        <strong>Balance:</strong> <%= @user.balance %> credits
    </div>

<%= button_to "Logout", destroy_user_session_path, method: :delete, class: "logout-button" %>

</div>
  <!-- EMAIL

    <div>
        <%= @user.email %>
</div>

 -->
