<div class=main.cointainer>

<div style="text-align: center; margin-top: 20px;">
  <img> <%= cl_image_tag @user.photo.key, class: "rounded-image", alt: "user profile picture" %>
</div>
    <h1 div>
        <%= @user.name %> from <%= @user.city %>
    </div>

    <div>
        <%= @user.password %>
    </div>

<div class="skills-container-profile">
  <% @user.skills.each do |skill| %>
    <div class="skill-box-profile"><%= skill.name %></div>
  <% end %>
</div>

    <div>
        <strong>Balance:</strong> <%= @user.balance %> credits
    </div>

<%= button_to "Logout", destroy_user_session_path, method: :delete, class: "logout-button" %>

</div>
  <!-- EMAIL

    <div>

        <strong>Balance:</strong> <%= @user.balance %> credits
    </div>

        <%= @user.email %>
</div>
