<% if current_user %>

  <h2>About App</h2>
  <div>
    <li class="about-card card">
      <p>Got a talent? Learn a new one in return! Give App connects people to exchange skills – no fees, just fair trade. Teach what you know, learn what you love, and grow together. Ready to swap skills?</p>
    </li>
  </div>

  <h2>Quick Search</h2>
  <div class="skills-card card">
    <% Skill.all.sample(10).each do |skill| %>
      <span class="badge rounded-pill pill"><%= skill.name %></span>
    <% end %>
  </div>

  <h2>Trending now</h2>
  <% @user_skills.each do |user_skill| %>
    <div class="clickable-card">
      <%= link_to user_skill_path(user_skill) do %>
        <li class="card">
          <div class="card-content">

            <!-- Bild links -->
            <div class="card-image">
              <% if user_skill.user.photo.attached? %>
                <%= cl_image_tag user_skill.user.photo.key, class: "rounded-image", alt: "user profile picture" %>
              <% else %>
                <%= image_tag "default-profile.png", class: "rounded-image", alt: "Default user profile picture" %>
              <% end %>
            </div>

            <!-- Text rechts -->
            <div class="card-text">
              <h1 class="user_skill">
                <%= user_skill.user.name.present? ? user_skill.user.name.capitalize : user_skill.user.email.split("@").first.capitalize %>
              </h1>
              <h6><%= user_skill.user.city %></h6>
              <h4><%= user_skill.skill.name %></h4>
            </div>

          </div>
        </li>
      <% end %>
    </div>
  <% end %>

<% else %>


    <%# <div class="homepage-standard"> %>
      <%# <%= image_tag "TGkoralle.png" %>
      <h1>Goodbye</h1>

      <div class="homepage-standard">
        <%= form_with url: user_skills_path, method: :get do %>
          <%= submit_tag "Sign-in/Sign-up", name: "", class: "btn btn-primary signup-home" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
