<h1 class="text-center">Give! a Review</h1>

<%= simple_form_for [@request, @review] do |f| %>
  <div class="form-group">
    <%= f.input :title, label: "Review Title", required: false, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :rating, label: "Rating", as: :select, collection: (1..5).map { |n| [n, '⭐️' * n] }, label_method: :second, value_method: :first, required: false, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :content, label: "Your Review", required: false, class: "form-control" %>
  </div>

<div class="buttonsafterreview">
<%= f.submit "Submit Your Review", class: "btn btn-primary buttonreview" %>
<% end %>
<button class="btn btn-info">Back to Requests</button>


</div>
